<h1>Say#hello</h1>
<p>
   It is now <%= Time.now %>
   <br/>
   <%= 1+2 %>
   <br/>
   <%= "cow" + "boy" %>
   <br/>
   <%= 1.hour.from_now %>
   <br/>
   <%= link_to "Goodbye", say_goodbye_path %>
</p>
